.second{
.sclogo{
    width: 12%;
    height: auto;
    position: absolute;
    bottom: 908px;
    left: 18%;
}
canvas{
    position: absolute;
    bottom: 745px;
    left: -5px;
    user-select: none;
}




}